{#
/**
 * @file
 * Theme override for the materials view.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{#   <div class="materials-summary">
    {% for row in rows %}
      <div class="materials-summary__item">
        <a class="materials-summary__link is-visible" href="#section-{{ loop.index }}" data-title="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}']|render|striptags|trim|raw }}">
        <span class="materials-summary__image">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image }}'] }}</span>
        <span class="materials-summary__title">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}']|render|striptags|trim|raw }}</span>
        </a>
      </div>
    {% endfor %}
  </div> #}

  <div class="left">
    <ul class="materials-nav">
      {% for row in rows %}
        <li>
          <a href="#section-{{ loop.index }}"{% if loop.first %} class="is-active"{% endif %}>
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image }}'] }}
            <span>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}']|render|striptags|trim|raw }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="right">
    {% for row in rows %}
      <div id="section-{{ loop.index }}" class="material-section">
        <h3>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}']|render|striptags|trim|raw }}</h3>
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}
      </div>
    {% endfor %}
  </div>
