{#
/**
 * @file
 * Theme override for the materials block.
 *
 * @see template_preprocess_views_view()
 */
#}
{{ attach_library('dewert_theme/materials') }}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }} data-tab-component>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {{ rows }}

{#   {% for row in custom_rows %}
    {{ row }}
  {% endfor %}

  <ul class="tab-list">
  {% for row in rows[0]['#rows'] %}
  <li class="tab-item">
    <a class="tab-link" href="#section-{{ loop.index }}">Test {{ loop.index }}</a>
  </li>
  {% endfor %}

  {% for row in rows[0]['#rows'] %}
  <div id="section-{{ loop.index }}" class="tab-panel">
    {{ row }}
  </div>
  {% endfor %} #}

  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
