<div class="footer-c2a">
  <div class="left">
    <h1 class="footer-c2a__title">{{ title }}</h1>
    <div class="footer-c2a__text">{{ text }}</div>
  </div>
  <div class="right">
    <ul class="footer-c2a__contacts">
      <li class="footer-c2a__contact">
        <h3 class="footer-c2a__contact-title">{{ phone_title }}</h3>
        <div class="footer-c2a__contact-item">
          <i class="fa fa-mobile-alt"></i> {{ phone }}</a>
        </div>
      </li>
      <li class="footer-c2a__contact">
        <h3 class="footer-c2a__contact-title">{{ mail_title }}</h3>
        <div class="footer-c2a__contact-item">
          <i class="fa fa-paper-plane"></i> {{ mail }}</a>
        </div>
      </li>
      <li class="footer-c2a__contact">
        <h3 class="footer-c2a__contact-title">{{ facebook_title }}</h3>
        <div class="footer-c2a__contact-item">
          <i class="fab fa-facebook-f"></i> {{ facebook }}</a>
        </div>
      </li>
    </ul>
  </div>
</div>
