<div class="footer-c2a">
  <div class="left">
    <h1 class="footer-c2a__title">{{ title }}</h1>
    <div class="footer-c2a__text">{{ text }}</div>
  </div>
  <div class="right">
    <ul class="footer-c2a__contacts">
      <li class="footer-c2a__contact">
        <i class="fa fa-mobile-alt"></i> {{ phone_text }} {{ phone }}</a>
      </li>
      <li class="footer-c2a__contact">
        <i class="fa fa-paper-plane"></i> {{ mail_text }} {{ mail }}</a>
      </li>
      <li class="footer-c2a__contact">
        <i class="fab fa-facebook-f"></i> {{ facebook_text }} {{ facebook }}</a>
      </li>
    </ul>
  </div>
</div>
