<div class="footer-c2a">
  <h1 class="footer-c2a__title">{{ title }}</h1>
  <div class="footer-c2a__text">{{ text }}</div>
  <ul class="footer-c2a__contacts">
    <li>
      <i class="fa fa-mobile"></i> {{ phone_text }} {{ phone }}</a>
    </li>
    <li>
      <i class="fa fa-paper-plane"></i> {{ mail_text }} {{ mail }}</a>
    </li>
    <li>
      <i class="fa fa-facebook-f"></i> {{ facebook_text }} {{ facebook }}</a>
    </li>
  </ul>
</div>
