<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ path ~ '../../base/base.css' }}">
  <link rel="stylesheet" href="{{ path ~ '../../layout/layout.css' }}">
  <link rel="stylesheet" href="{{ path ~ '../../components/system.css' }}">
  <link rel="stylesheet" href="{{ path ~ '../../components/global.css' }}">
  <link rel="stylesheet" href="{{ path ~ '../../components/components.css' }}">
  <link rel="stylesheet" href="{{ path ~ '../../state/state.css' }}">
  <link rel="stylesheet" href="{{ path ~ '../../theme/theme.css' }}">
  <link rel="stylesheet" href="{{ path ~ '../../styleguide.css' }}">
  <title>Style guide</title>
</head>
<body>
  <div class="site-container">
    {{ yield }}
  </div>
  <script src="//use.fontawesome.com/810222a069.js"></script>
</body>
</html>
