{#
/**
 * @file
 * Block Nous sommes exigeant (expertise)
 *
 */
#}
{%
  set classes = [
    'section-demanding',
    'spaced',
    'l-constrain',
  ]
%}
<div{{ attributes.addClass(classes)|without('id') }}>
  {{ title_prefix }}
  {% if label %}
    <h1 {{ title_attributes.addClass('section-demanding__title', 'section-title') }}>{{ label }}</h1>
  {% endif %}
  {{ title_suffix }}
  <div class="l-f-grid">
    <div class="l-f-grid__column">
    {{ content.field_section_text.0 }}
    </div>
    <div class="l-f-grid__column">
    {{ content.field_section_text.1 }}
    {{ content.field_section_text.2 }}
    </div>
  </div>
</div>
