{#
/**
 * @file
 * Block Histoire de famille (expertise)
 */
#}
{%
  set classes = [
    'section-story',
    'spaced',
  ]
%}
<section{{ attributes.addClass(classes)|without('id') }}>
  <div class="section-story__content">
  {{ title_prefix }}
  {% if label %}
    <h1 {{ title_attributes.addClass('section-story__title') }}>{{ label }}</h1>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="section-story__images clearfix">
      <img src="{{ base_path ~ directory ~ "/images/bg/bg-story-intro.jpg"}}" alt="">
    </div>
    <div class="section-story__text">
    {{ content }}
    </div>
  {% endblock %}
  </div>
</section>
