{#
/**
 * @file
 * Block Nos compétences (expertise).
 *
 */
#}
{%
  set classes = [
    'section-skills',
    'bg-gray',
  ]
%}
<div{{ attributes.addClass(classes)|without('id') }}>
  <div class="l-constrain clearfix spaced">
  {% block content %}
    <div class="section-skills__content">
    {{ title_prefix }}
    {% if label %}
      <h1 {{ title_attributes.addClass('section-skills__title', 'section-title') }}>{{ label }}</h1>
    {% endif %}
    {{ title_suffix }}

    {{ content }}
    </div>
    <figure class="section-skills__figure">
      <img src="{{ base_path ~ directory ~ "/images/parc-boverie-stephane-mignon.jpg"}}" alt="">
      <p class="section-skills__copyright">©&nbsp;<a href="https://goo.gl/a1WHEd">{{ "Credit"|t }}</a></p>
    </figure>
  {% endblock %}
  </div>
</div>
