{#
/**
 * @file
 * Block Le bois (ossature bois)
 */
#}

{%
  set classes = [
    'section-bois',
    'spaced',
    'bg-gray',
  ]
%}
<section{{ attributes.addClass(classes)|without('id') }}>
  <div class="section-bois__content l-constrain">
  {{ title_prefix }}
  {% if label %}
    <h1 {{ title_attributes.addClass('section-bois__title') }}>{{ label }}</h1>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {# @todo layout classes #}
    <div class="section-bois__main">
      {{ content.field_paragraph_section.0 }}
    </div>
    <div class="section-bois__aside">
      {{ content.field_media_image }}
      {{ content.field_paragraph_section.1 }}
    </div>
    <div class="section-bois__bottom">
    {{ content.field_accordion }}
    </div>
  {% endblock %}
  </div>
</section>
