{#
/**
 * @file
 * Theme override for a node work teaser.
 *
 * @see template_preprocess_node()
#}
{% set bundle = node.bundle|clean_class %}
{%
  set classes = [
    bundle,
    view_mode ? bundle ~ '--' ~ view_mode|clean_class,
    node.isPromoted() ? bundle ~ '--promoted',
    node.isSticky() ? bundle ~ '--sticky',
    not node.isPublished() ? bundle ~ '--unpublished',
  ]
%}
{%
  set title_classes = [
    bundle ~ '__title',
  ]
%}
<article class="{{ attributes.addClass(classes).class }}"{{ attributes|without('class', 'id') }}>
  {% block content %}
    {% if display_submitted %}
      <footer class="{{ bundle ~ '__footer' }}">
        {{ author_picture }}
        <div{{ author_attributes.addClass(bundle ~ '__submitted') }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}
    {% if content.field_media_image.0 %}
      <div class="work__image">
      {{ content.field_media_image.0 }}
      </div>
    {% endif %}

    <div{{ content_attributes.addClass(bundle ~ '__content') }}>
      {{ title_prefix }}
      {% if not page %}
        <h1{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h1>
      {% endif %}
      {{ title_suffix }}
      {{ content.body|render|striptags|trim|raw }}
      {{ content|without('field_media_image', 'body') }}
    </div>
  {% endblock %}
</article>
